@model UsuarioModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<hr />

Nombres: @Model.Nombre <br />
Apellido: @Model.Apellido <br />
Documento: @Model.NroDoc <br />

